section#login{
	@include flex(1);
	width:100%;
	background: url("/project-present/images/img/login_bg.png");
	background-size: cover;
	.header{
		@include box-sizing(border-box);
		padding:0.2rem 0.2rem 0.3rem 0.25rem;
		font-size:16px;
		position: relative;
		i{
			color:#ff6565;
			font-family: yofont;
		}
		b{
			position:absolute;
			right:0.2rem;
			top:0.2rem;
			color:#a5a5a5;
			font-weight: normal;
		}
	}
	.logo{
		width:100%;
		img{
			width:100%;
		}
	}
	.method{
		width:100%;
		font-size:15px;
		p{
			@include flexbox(flex);
			@include justify-content(center);
			@include align-items(center);
			height:0.75rem;
			color:#ff6565;
			i,em{
				display: block;
			}
			i{
				font-family: yofont;
				font-size:50px;
				padding:0 0.12rem;
			}
			em{
				@include box-sizing(border-box);
				padding-top: 0.1rem;
			}
		}
		ul{
			@include flexbox(flex);
			@include box-sizing(border-box);
			@include justify-content(space-between);
			padding:0 0.4rem;
			li{
				width:0.5rem;
				height:0.5rem;
				img{
					width:100%;
				}
			}
		}
	}
}